*,
*::before,
*::after {
	box-sizing: border-box;
}
$font-regular:'OpenSans-Regular',Arial,sans-serif;
$font-semi:'OpenSans-SemiBold',Arial,sans-serif;
$font-bold:'OpenSans-Bold',Arial,sans-serif;

body {
	min-height: 100%;
	position: relative;
	font-size: 1rem;
	color: #000;
	font-family: $font-regular;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

