<form class="account-form" method="#">
  <div class="account-form__block">
    <a class="account-form_close" href="#">×</a>
    <h2 class="account_heading">Введите логин и пароль<br />для входа в Личный кабинет</h2>
    <input type="email" class="account_email" name="email" placeholder="Логин" autofocus />
    <input type="password" class="account_password" name="password" placeholder="Пароль" />
    <button type="submit" class="account_button">Войти</button>
    <a class="account_link" href="#">Напомнить пароль</a>
    <a class="account_link" href="#">Регистрация</a>
  </div>
</form>
